
client/amazon-cognito-identity.js
client/amazon-cognito-identity.min.js
client/aws-cognito-sdk.min.js
lambdaLayer/python/*
lambdaLayer/python_complete/*
lambdaLayer/python.zip
modleToMinecraftFunction/LambdaLayer/*
Server/~$Search Recomendations.xlsx
*.toc
modleToMinecraftFunction/build/gui/base_library.zip
*.pkg
modleToMinecraftFunction/build/gui/localpycs/pyimod01_archive.pyc
*.pyc
*.pyz
*.zip
*.exe
